<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
    <%- include('partials/files.ejs') %>
    <link rel="stylesheet" href="/css/dashboard.css">
</head>

<body>
        <%-include('./partials/sidebar.ejs') %>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 border">
                <h2>Welcome to KES Shroff College</h2><br>
                <p>
                    KES Shroff College of Arts and Commerce is affiliated to University of Mumbai, it is one of the best
                    organization in the mumbai suburbs. It is managed by Kandivali Education Society. Various Degree,
                    Diploma and UnderGraduation courses conducted are of Arts, Commerce, Management and IT. Degree
                    courses such as Bcom. BA, BAF, BBI, BFM, BMS, BMM, BScIT, BIM,BATM and BEM. Undergraduate courses
                    such as HSC Arts and Commerce. Post Graduation courses such as MCom (Accountancy) and MCom
                    (Management), M.A.(Business Economics), M.Sc.IT, MATM. Our promise is to bring the best educational
                    facilities to our students by maintaining a sharp focus on the pursuit of knowledge and skills.
                </p>
                <h3>KES Shroff College Timeline</h3><br>
                <ul>
                    <li>Established in the year 1989</li>
                    <li>First Principal – Dr. G. Ramachandran (1991 – 2009)</li>
                    <li>Current Principal Dr. (Mrs) L. Bhushan (2009…)</li>
                    <li>S.V.P Jr College (Commerce) merged with KES Degree College – 1999</li>
                    <li>Renamed as KES Shroff College – 2006</li>
                    <li>Got permanent affiliation from Mumbai University – 2009</li>
                    <li>Got UGC Recognition – 2010</li>
                    <li>Number of students 8500</li>
                    <li>Courses offered – Bcom. BA, BAF, BBI, BFM, BMS, BMM, BScIT, BIM,BATM, BEM, MCom (Accountancy)
                        and MCom (Management), M.A.(Business Economics), M.Sc.IT, MATM.
                    </li>
                </ul>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 border justify-text-center">
                <div class="header border">
                    <center>
                        <h1>Notification</h1>
                    </center>
                </div>
            </div>
            <div class="col-sm-6 border">
                <div class="header border">
                    <center>
                        <h1>Notices</h1>
                    </center>
                </div>
            </div>

        </div>
</body>

</html>