<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <%- include('partials/files.ejs') %>
    <link rel="stylesheet" href="/css/evaluation.css">
</head>

<body>
    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-2 border"> <%-include('./partials/sidebar.ejs') %></div>
            <div class="col-sm-10 border">
                <div class="row">
                    <div class="col-sm-7 border size">
                        Hello
                    </div>
                    <div class="col-sm-3 border size">
                        World
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-7 border size">
                        Hello
                    </div>
                    <div class="col-sm-3 border size">
                        World
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-7 border size">
                        Hello
                    </div>
                    <div class="col-sm-3 border size">
                        World
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-7 border size">
                        Hello
                    </div>
                    <div class="col-sm-3 border size">
                        World
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>