<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Subjects</title>
    <%- include('partials/files.ejs') %>
    <link rel="stylesheet" href="/css/subjects.css">
</head>
<body>
        <%-include('./partials/sidebar.ejs') %>
        <div class="container">
            
            <div class="row">
                <div class="col-sm-12 jumbotron justify-content-center"><b class="text">Subjects</b>
                </div>
            </div>
            <div class="row">
                    <div class="col-sm-12 header"><h2><b><u>Semester 1</u></b></h2></div>
            </div>
            <div class="row justify-content-center">
                
                <div class="col-sm-4 col-md-2">
    
                    <div class="card" title="Imperative Programming">
                        <img src="/images/C.png" class="img-fluid" alt="C Programming">
                        <div class="card-header">IP</div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-2">
                    <div class="card" title="Discrete Mathematics">
                        <img src="/images/DM.png" alt="Discrete Mathematics">
                        <div class="card-header">DM</div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-2">
                    <div class="card">
                        <img src="/images/OS.png" title="Operating System" alt="Operating System">
                        <div class="card-header">OS</div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-2">
                    <div class="card">
                        <img src="/images/DE.jpg" title="Digital Electronics" alt="Digital Electronics">
                        <div class="card-header">DE</div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-2">
                    <div class="card">
                        <img src="/images/PCS.png" title="Professional Communication Skills" alt="Professional Communication Skills">
                        <div class="card-header">PCS</div>
                    </div>
                </div>
            </div>
            <div class="row">
                    <div class="col-sm-12 header"><h2><b><u>Semester 2</u></b></h2></div>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-4 col-md-2">
                    <div class="card">
                        <img src="/images/OOP.jpg" title="Object Oriented Programming" alt="Object Oriented Programming">
                        <div class="card-header">OOP</div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-2">
                    <div class="card">
                        <img src="/images/NSM.jpg" title="Numerical and Statistical Computing " alt="Numerical and Statistical Computing">
                        <div class="card-header">NSM</div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-2">
                    <div class="card">
                        <img src="/images/GC.jpg" title="Green Computing" alt="Green Computing">
                        <div class="card-header">GC</div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-2">
                    <div class="card">
                        <img src="/images/WP.png" title="Web Programming" alt="Web Programming">
                        <div class="card-header">WP</div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-2">
                    <div class="card">
                        <img src="/images/MP.jpg" title="Micro Processors" alt="Micro Processors">
                        <div class="card-header">MP</div>
                    </div>
                </div>
            </div>
            <div class="row">
                    <div class="col-sm-12 header"><h2><b><u>Semester 3</u></b></h2></div>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-4 col-md-2">
                    <div class="card">
                        <img src="/images/CN.jpg" title="Computer Networks" alt="Computer Networks">
                        <div class="card-header">CN</div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-2">
                    <div class="card">
                        <img src="/images/DBMS.jpg" title="Database Management System" alt="Database Management System">
                        <div class="card-header">DBMS</div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-2">
                    <div class="card">
                        <img src="/images/PY.jpg" title="Python Programming" alt="Python Programming">
                        <div class="card-header">PY</div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-2">
                    <div class="card">
                        <img src="/images/AM.jpg" title="Applied Mathematics" alt="Applied Mathematics">
                        <div class="card-header">AM</div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-2">
                    <div class="card">
                        <img src="/images/DS.png" title="Data Structure" alt="Data Structure">
                        <div class="card-header">DS</div>
                    </div>
                </div>
            </div>
            <div class="row">
                    <div class="col-sm-12 header"><h2><b><u>Semester 4</u></b></h2></div>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-4 col-md-2">
                    <div class="card">
                        <img src="/images/ES.png" title="Embedded System" alt="Embedded System">
                        <div class="card-header">ES</div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-2">
                    <div class="card">
                        <img src="/images/JAVA.png" title="Core Java" alt="Core Java">
                        <div class="card-header">JAVA</div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-2">
                    <div class="card">
                        <img src="/images/PCS.png" title="COST" alt="Professional Communication Skills">
                        <div class="card-header">COST</div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-2">
                    <div class="card">
                        <img src="/images/SE.png" title="Software Engineering" alt="Software Engineering">
                        <div class="card-header">SE</div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-2">
                    <div class="card">
                        <img src="/images/CG.jpg" title="Computer Graphics" alt="Computer Graphics">
                        <div class="card-header">CG</div>
                    </div>
                </div>
            </div>
            <div class="row">
                    <div class="col-sm-12 header"><h2><b><u>Semester 5</u></b></h2></div>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-4 col-md-2">
                    <div class="card">
                        <img src="/images/AI.jpg" title="Artificial Intelligence" alt="Artificial Intelligence">
                        <div class="card-header">AI</div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-2">
                    <div class="card">
                        <img src="/images/EJ.png" title="Enterprise Java" alt="Enterprise Java">
                        <div class="card-header">EJ</div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-2">
                    <div class="card">
                        <img src="/images/AWP.png" title="Advance Web Programming" alt="Advance Web Programming">
                        <div class="card-header">AWP</div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-2">
                    <div class="card">
                        <img src="/images/SPM.png" title="Software Project Management" alt="Software Project Management">
                        <div class="card-header">SPM</div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-2">
                    <div class="card">
                        <img src="/images/IOT.png" title="Internet Of Things" alt="Internet Of Things">
                        <div class="card-header">IOT</div>
                    </div>
                </div>
            </div>
            <div class="row">
                    <div class="col-sm-12 header"><h2><b><u>Semester 6</u></b></h2></div>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-4 col-md-2"></div>
                <div class="col-sm-4 col-md-2"></div>
                <div class="col-sm-4 col-md-2"></div>
                <div class="col-sm-4 col-md-2"></div>
                <div class="col-sm-4 col-md-2"></div>
            </div>
        </div>
        </div>
    </body>
    
</html>